# Visual Studio Code configuration
.vscode

# Load data through the import.py script
data/*
# Need index.json
!data/index.json

# No pycache
__pycache__/

# Mac files
.DS_Store
**/.DS_Store

# No notebook checkpoints
.ipynb_checkpoints/

# Auxiliary files to ignore in submission
submission/egpaper_final.tex
submission/egpaper_for_review.tex
submission/ieee.bst
submission/*.aux
submission/*.fdb_latexmk
submission/*.fls
submission/*.log
submission/*.synctex.gz
submission/*.bbl
submission/*.blg

# Archive files
archive
archive/*

# Random output files
input.txt

outputs/*
samples/*
submission/*

**.wav
