# Visual Studio Code configuration
.vscode

# Load data through the import.py script
data/*
# Need index.json
!data/index.json

# No pycache
__pycache__/

# Mac files
.DS_Store
**/.DS_Store

# No notebook checkpoints
.ipynb_checkpoints/
